{% macro add(url, message, glyphicon=true) %}
    {% import _self as actions %}

    <a href="{{ url }}" class="btn btn-sm btn-primary">
        {% if glyphicon == true %}
            {{ actions.glyphicon('glyphicon-plus') }}
        {% endif %}
        <span>{{ message is empty ? 'qcm_core.button.add'|trans : message }}</span>
    </a>
{% endmacro %}

{% macro show(url, message, glyphicon=null) %}
    {% import _self as actions %}

    <a href="{{ url }}" class="btn btn-sm btn-success">
        {% if glyphicon is not null %}
            {{ actions.glyphicon(glyphicon) }}
        {% endif %}
        <span>{{ message is empty ? 'qcm_core.button.show'|trans : message }}</span>
    </a>
{% endmacro %}

{% macro edit(url, message, glyphicon=true) %}
    {% import _self as actions %}

    <a href="{{ url }}" class="btn btn-sm btn-info">
        {% if glyphicon == true %}
            {{ actions.glyphicon('glyphicon-pencil') }}
        {% endif %}
        <span>{{ message is empty ? 'qcm_core.button.edit'|trans : message }}</span>
    </a>
{% endmacro %}

{% macro delete(url, message, glyphicon=true) %}
    {% import _self as actions %}

    <a href="{{ url }}" class="btn btn-sm btn-danger">
        {% if glyphicon == true %}
            {{ actions.glyphicon('glyphicon-remove') }}
        {% endif %}
        <span>{{ message is empty ? 'qcm_core.button.delete'|trans : message }}</span>
    </a>
{% endmacro %}

{% macro cancel(url, message, glyphicon='glyphicon-arrow-left') %}
    {% import _self as actions %}

    <a href="{{ url }}" class="btn btn-sm btn-default">
        {% if glyphicon == true %}
            {{ actions.glyphicon(glyphicon) }}
        {% endif %}
        <span>{{ message is empty ? 'qcm_core.button.cancel'|trans : message }}</span>
    </a>
{% endmacro %}

{% macro submit(value, class='btn-primary', glyphicon='glyphicon-save', glyphbefore=false) %}
    {% import _self as actions %}

    <button type="submit" class="btn btn-sm {{ class }}">
        {% if glyphbefore == true %}
            {{ actions.glyphicon(glyphicon) }}
        {% endif %}
        {{ value is empty ? 'qcm_core.button.save'|trans : value }}
        {% if glyphbefore == false %}
            {{ actions.glyphicon(glyphicon) }}
        {% endif %}
    </button>
{% endmacro %}

{% macro next(url, message, glyphicon='glyphicon-arrow-right') %}
    {% import _self as actions %}

    <a href="{{ url }}" class="btn btn-sm btn-success">
        <span>{{ message is empty ? 'qcm_core.button.next'|trans : message }}</span>
        {% if glyphicon == true %}
            {{ actions.glyphicon(glyphicon) }}
        {% endif %}
    </a>
{% endmacro %}

{% macro glyphicon(glyphicon) %}
    <i class="glyphicon {{ glyphicon }}"></i>
{% endmacro %}

{% macro title(text, glyphicon) %}
    {% import _self as actions %}
    <h4 class="row popover-title control-label">{{ actions.glyphicon(glyphicon) }} {{ text }}</h4>
{% endmacro %}

{% macro export(url, message, glyphicon=true) %}
    {% import _self as actions %}

    <a href="{{ url }}" class="btn btn-sm btn-info">
        {% if glyphicon == true %}
            {{ actions.glyphicon('glyphicon-export') }}
        {% endif %}
        <span>{{ message is empty ? 'qcm_core.button.export'|trans : message }}</span>
    </a>
{% endmacro %}

{% macro print(url, message, glyphicon=true) %}
    {% import _self as actions %}

    <a href="{{ url }}" class="btn btn-sm btn-info">
        {% if glyphicon == true %}
            {{ actions.glyphicon('glyphicon-print') }}
        {% endif %}
        <span>{{ message is empty ? 'qcm_core.button.print'|trans : message }}</span>
    </a>
{% endmacro %}
