{% extends '@QcmCore/layout-login.html.twig' %}

{% block container %}
    {% if error %}
        <div>{{ error.message }}</div>
    {% endif %}
    <form action="{{ path('qcm_core_security_login_check') }}" method="post">
        <label for="username">{{ 'qcm_core.label.username'|trans }}</label>
        <input type="text" id="username" name="_username" value="{{ last_username }}" />

        <label for="password">{{ 'qcm_core.label.password'|trans }}</label>
        <input type="password" id="password" name="_password" />

        {{ actions.submit() }}
    </form>
{% endblock %}
